extends layout

block content
    div(class='hero-unit')
        h1 Welcome to Microblog
        p Microblog is a Microblog system based on Node.js
        p
            a(class='btn btn-primary btn-large', href='/login') 登陆
            a(class='btn btn-primary btn-large', href='/reg') 注册

    - for(var i = 0; i < posts.length; i+=3)
            div(class="row")
                - for(var j = 0; j < 3 && i+j < posts.length; j++)
                    div(class="span4")
                        h2
                            a(href="/u/" + posts[i+j].user).description= posts[i+j].user
                        p
                            small= posts[i+j].time
                        p= posts[i+j].post
